[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = "*"
pyyaml = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-import-order = "*"
mypy = "*"
pytest = "*"
types-pyyaml = "*"
ipython = "*"
pdoc = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
